body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #7AB390 0%, #2C563C 100%) 0 0 no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    background: url("../img/Logo big.png") no-repeat;

    height: 25%;
    margin-left: 5%;
    width: 80%;
    text-align: center;
}

.login-container {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5% 2% 5% 2%;

    background: #FFFFFFE0 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 34px;

}

.sign {
    background: transparent linear-gradient(180deg, #F4AC66 0%, #E57160 100%) 0 0 no-repeat padding-box;
    border-radius: 30px;
    width: 50%;
    padding: 3%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
    font: normal normal normal 2vh Segoe UI;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 0.5em;
    width: 50%;

    text-align: left;
    font: normal normal normal 2vh Segoe UI;
    letter-spacing: 0;
    color: #707070;
}

.tease-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: left;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #707070;
}

.sign-up, .sign-in {
    text-align: left;
    text-decoration: underline;
    font: italic normal normal 20px/27px Segoe UI;
    letter-spacing: 0;
    color: #F4AC66;
    margin: 5px;
}

.no-valid{
    border:3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 720px) {
    .container {
        flex-direction: column;
    }

    .login-container {
        width: 100%;
    }

    .logo {
        background: url("../img/Logo small.png") no-repeat;
        margin: 0;
        width: 90%;
        text-align: center;
        background-size: 100%;
    }

    form {
        margin: auto;
        padding: 1% 1% 1% 1% ;
    }
    input{
        width:70%;
    }

    #sign_up{
        margin: 0.5em;
    }

    .register>input{
        padding-top: 0.2em;
    }

    .tease-container {
        font-size: 2em;
        margin: 3px;
    }
    .sign-in, .sign-up{
        font-size: 1.2em;
    }
}
