.main_content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.edit_data_form{
    width: 30%;
    height: 90%;
    margin: auto auto auto 5%;


}

input{
    width: 90%;
    margin: 1em 0;
}

.main_content>form button {
    width: 100%;
    height: 4em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

}

.edit_photo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 50%;
    margin: auto 7vw auto 10vw;
}

.edit_photo>img{
    width: 30vh;
    height: 30vh;
    border-radius: 100%;
    object-fit: cover;
}

form > button {
    width: 100%;
    height: 4em;
    margin: auto auto;
    box-shadow: 0px 3px 6px #00000029;
    font: normal normal normal 1em/2em Segoe UI;
}

@media only screen and (max-device-width: 720px) {

    main{
        width: 100vw;
    }

    .main_content{
        flex-direction: column;
    }

    .edit_photo{
        flex-direction: row;
        width: 100%;
        margin: 0;

    }
    .edit_photo>img{
        width: 30vw;
        height: 30vw;
        border-radius: 100%;
        object-fit: cover;
        margin-left: 3vw;
    }
    .edit_photo>form{
        margin: 0 3vw;
        width: 60vw;
        display: flex;
        flex-direction: column;
    }
    form>button{
        width: 70%;
        height: auto;
        font: normal normal normal 2em/3em Segoe UI;
    }

    .edit_data_form{
        margin: 5%;
        width: 90%;
    }

}