section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;

}
.squads > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;
    font: normal normal normal 14px/30px Arial;
    letter-spacing: 0px;
    color: #F4AC66;
    border-radius: 1em 1em 0 0;
    background: #E9FFDB 0% 0% no-repeat padding-box;
    margin: 0;
}



.squads > div > div>   img {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    margin: 1em auto auto auto;
    object-fit: cover;
}

h2 {
    font: normal normal bold 20px/23px Arial;
    color: #e57160;
}

p {
    margin: 0px;
}

.footer {
    width: 100%;
    color: white;
    font: normal normal normal 1em/1.2em Arial;
    background: #F4AC66 0% 0% no-repeat padding-box;
}

.footer > div > img {
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    margin: -0.5em;
    border: 3px solid #e57160;
}

.squad-hyper {
    text-decoration: none;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #e57160;
    border-radius: 4px;
    width: 45%;
    margin:0.5em auto 0.5em;
    font: normal normal normal 1.2em/2.5em Segoe UI;
    letter-spacing: 0;
    color: #e57160;
}
.decision{
    display: flex;
    justify-content: space-around;
    font: normal normal normal 1em/2em Arial;
    letter-spacing: 0px;
    color: #E57160;
}
.show_map, #admin_buttons, .delete_squad{
    width: 90%;
}


@media only screen and (max-device-width: 720px) {
    main{
        width: 100vw;
    }
    .squads{
        grid-template-columns: repeat(1, 1fr);
    }

    #squad {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    h2{
        font: normal normal bold 2em/0.5em Arial;
    }
    #squad>div {
        display: flex;
        flex-direction: column;
        font: normal normal normal 2em/2em Arial;
    }
    #squad>img{
        width:30vw;
        height:30vw;
        margin: 1em;
    }
    #squad_info{
        width: 55%;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }

    h3{
        font: normal normal bold 2em/0.5em Arial;
        margin: 1em;
    }

    .decision{
        flex-direction: column;
        width: 30%;
    }
    .decision>.squad-hyper{
        width: 90%;
        height: 33%;
        margin: 1% 5%;
        font-size: 2em;
    }

    .delete_squad{
        font: normal normal normal 2em/3em Arial;
        margin-right: 4%;
    }



}