body {
    margin: 0;
}

input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 0.5em;
    width: 50%;

    text-align: left;
    font: normal normal normal 2vh Segoe UI;
    letter-spacing: 0;
    color: #707070;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-squad {
    background: transparent linear-gradient(180deg, #f4ac66 0%, #e57160 100%) 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    width: 20%;
    font-family: "Segoe UI", sans-serif;
}

.add-squad > i {
    padding: 1.5em;
}


#search-bar {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 2em;
    text-align: center;
    color: gray;
    margin: 0;
    box-sizing: border-box;
    width: 70%;
}

.messages {
    margin: 1% 0 0 10%;
    color: RED;
    font-family: "Segoe UI", sans-serif;
    width: 90%;
}

#hamburger{
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}


@media only screen and (max-device-width: 720px) {

    header{
        flex-direction: column;
        position: fixed;
        top:10vh;
        left: 0;
        padding:0;
        border-bottom: 0;
        z-index: 999;
    }
    header{
        width: 100%;

    }
    #search-bar {
        border-radius: 0;
        width: 100%;
        font-size: 2.5em;
        line-height: 9.8vh;
        padding:0 0 0 2em;
        display: none;
    }
    .add-squad{
        background: #E57160;
        width: 100%;
        border-radius: 0;
        font-size: 2.5em;
        line-height: 9.9vh;
        padding: 1px;
        display: none;
    }
    .add-squad>i{
        padding: 1em;
        width: 5%;
    }
    .add-squad>label{
        width: 80%;
        font: normal normal normal 1.2em/1.3em Segoe UI;
        display: inline-block;
        text-align: center;

    }


}

